a {
    color: white;
    text-decoration: none;
}
html, body {
    background: rgb(12, 75, 112);
    background-image: url('/img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
body {
    background-size: cover;
    background-position: center;
}