* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif;
}

/* scrollbar */
* {
  scrollbar-width: 4px;
  scrollbar-color: #252525 transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 3px;
}