@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #414141;
  --foreground: #ffffff;
  --scroll-color: white;
}

html,
body {
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-width: 4px;
  scrollbar-color: var(--scroll-color) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 3px;
}
